body{
    background-color:rgb(246, 253, 255);
    font-family: 'Georgia';

}
input[type="submit"] {
    margin-left:35%;
    margin-top:20px;
    border:none;
        background-color: skyblue;
        color:black;
        width:100px;
        height:30px;
        border-radius: 20px;
        font-size: 14px;
        text-align: center;
  }
  input[type="submit"]:hover{
    background-color: rgb(94, 141, 160);
  }

label {
    font-weight: bold;
    
   
   
  }

  input[type="text"],
input[type="file"],
textarea,
select {
  width:300px; 
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  
}

 table{
    background-color:rgb(255, 255, 255);
    width:450px;
    height:550px;
    margin-top:20px;
    box-shadow: 0 3px 8px rgba(196, 196, 196, 0.795);
 }
 td{
    vertical-align: top;
    line-height: 30px;
    padding-left:15px;
    padding-right:15px;
    padding-bottom:20px;
 }
 h1{
    text-align:center;
 }